<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Prototype "Pricing Grid" engine</title>

	<!-- TODO replace CDN links with self-served -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">



	<script src="./ConfirmDialog.js"></script>
  </head>
  <body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<!-- TODO check Vue / Bootstrap compatibility issues -->

	<script src="./grid.js"></script>

	<script type="text/javascript">

		//TODO hydration functions


	</script>

	<style>
	</style>

</head>

<body>
	<div id="grid-builder">
		<div class="container-fluid"><div class="row">
			<div class="accordion shadow col-12 col-lg-3 order-lg-last" id="tool-pane">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Test shipping fee
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#tool-pane">
						<div class="accordion-body">
							<pricingtest-form :ui_state="ui_state"></pricingtest-form>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Load / Save Data
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#tool-pane">
						<div class="accordion-body">
							TODO add some menus
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-9">
				<pricinggrids-tabs :ui_state="ui_state"></pricinggrids-tabs>
				<div class="container-fluid overflow-auto">
					<pricinggrids-grid :grid="ui_state.currentGrid"></pricinggrids-grid>
				</div>
				<pricinggrids-dim-list :grid="ui_state.currentGrid"></pricinggrids-dim-list>
			</div>
		</div></div>

		<!-- Modal dialog template for generic ConfirmDialog -->
		<div class="modal fade" id="modal-confirm-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="msg"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="button-template" class="btn col mx-2"></button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal dialog template for Cell customizer -->
		<div class="modal"  id="grid-cell-customizer" tabindex="-1">
			<div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						... TODO Policy form ...


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- =========================================================== -->
	<!-- =============== Vue components ============================ -->

	<!-- ========== (some) component templates ============== -->
	<script type="text/x-template" id="PricingTest-Form-template">
		<form id="" class="" @submit.prevent="">
			<div class="mb-3">
				<label class="form-label" for="inputPoids">Poids</label>
				<input type="number" step="0.1" min="0" lang="en-US"
				 class="form-control" id="inputPoids" placeholder="Poids (en kg)"
				 v-model="ui_state.testPricedObj.poids">
			</div>
			<div class="mb-3">
				<label class="form-label" for="inputPostCode">Code postal</label>
				<input type="text" maxlength="5"
				 class="form-control" id="inputPostCode" placeholder="Code postal"
				 v-model="ui_state.testPricedObj.codePostal">
			</div>
			{{ void({gridCell, amount} = ui_state.currentGrid.apply(ui_state.testPricedObj)) }}
			<div> <!--class="text-truncate" -->{{ JSON.stringify(gridCell) }}</div>

			Amount : {{ amount }}
		</form>
	</script>

	<!-- ========== component logic ============== -->
	<script type="module">

		/* shared state for the page */
		//const gridBuilderApp_UI = Vue.reactive( ui_state); TODO need explicit call ?!

		const gridBuilderApp = Vue.createApp({
			data() {
				return {
					ui_state: {
						system: theSystem, //TODO start with empty / localstored
						currentGrid: theSystem.grids[0], //TODO react to selection
						testPricedObj: new CommandeALivrer("FCxxxxxx", 302 /*kg*/, "93420")
					}
				}
			},
			methods: {
				// TODO UI state management (loading, etc.)
			},
		});


		var PricingGrids_Tabs = {
			props: {
				ui_state: Object
			},
			methods: {
				newGrid: function(){
					let name = "Nouvelle grille"; //TODO find next good name
					this.ui_state.system.grids.push(
						new PricingGrid(name)
					);
				},
				selectGrid: function(name){
					this.ui_state.currentGrid = this.ui_state.system.findGridByName(name);
				}

			},
			template: `
				<ul class="nav nav-pills">
					<li v-for="grid in ui_state.system.grids"
						class="nav-item">
						<a href="#" class="nav-link" :class="{active: ui_state.currentGrid.name == grid.name}" @click="selectGrid(grid.name)">{{grid.name}}</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link bg-secondary text-white" @click="newGrid"> + </a>
					</li>
				</ul>`
		};


		var PricingGrids_DimensionList = {
			props: {
				grid: Object
			},
			methods: {
				newDimension: function(){
					this.grid.addNewDimension();
				},
				removeDimension:function(name){
					this.grid.removeDimension(name);
				}
			},

			template: `
				<table class="table table-bordered mt-3">
					<thead>
						<tr>
							<th>Dimensions</th>
							<th style="width: 40px;">
								<a href="#" class="float-end" @click="newDimension">
									<i class="bi bi-plus-lg"></i>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="dim in grid.dimensions">
							<td>
								{{ dim.name }}
								<ul>
									<li v-for="cat in dim.categories">
										{{ cat.value }}
									</li>
								</ul>
							</td>
							<td>
								<a href="#" class="float-end" @click="removeDimension(dim.name)">
									<i class="bi bi-x-lg"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

			`
		};

		// var _PricingGrids_AbstractDimension = {
		// 	props: {
		// 		currentGrid: Object
		// 	},
		// 	methods: {

		// 	}
		// };


		var PricingGrids_GridCell = {
			props: {
				cell: Object
			},
			emits: ["initCell"],
			template: `
				<div class="form-group">
					<a class="float-end" data-bs-toggle="modal" data-bs-target="#grid-cell-customizer">
						<i class="bi bi-three-dots"></i>
					</a>
					<template v-if="cell">
						<template v-if="cell.policy">
							{{cell.policy.type}} <br>
							<template v-if="cell.policy.type=='FixedPrice'">
								<input class="form-control input-sm col-sm-5" v-model="cell.policy.price">
							</template>
							<template v-if="cell.policy.type=='PerVolumePrice'">
								(arrondi <input v-model="cell.policy.rounding">)
								<input class="form-control input-sm col-sm-5" v-model="cell.policy.price">
							</template>
						</template>
						<template v-else>
							NO POLICY
						</template>
					</template>
					<template v-else>
						NO CELL
						<button @click="$emit('initCell')">
							<i class="bi bi-file-earmark-plus"></i>
						</button>
					</template>
				</div>
				`
		};

		var PricingGrids_Grid = {
			props: {
				grid: Object
				//TODO pass the full grid system : a policy can reference another grid !
			},
			computed:{
				dimensionCount(){
					return this.grid.dimensions.length;
				}
			},
			methods:{
				initCell: function(coords){
					this.grid.gridCells.push(
						{coords, policy: { type: "FixedPrice", price: 0} } //TODO real defaulting
					);
				}
			},

			template: `
				<table class="table table-bordered">
					<template v-if="dimensionCount==0">
						<thead>
							<tr>
								<th>Toutes livraisons</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><pricinggrids-gridcell :cell="grid.gridCellAt({
								})"></pricinggrids-gridcell></td>
							</tr>
						</tbody>
					</template>
					<template v-else-if="dimensionCount==1">
						{{void(
							dim0 = this.grid.dimensions[0]
						)}}
						<thead>
							<tr>
								<th>{{ dim0.name }}</th>
								<th>Prix</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="categ_dim0 in dim0.categories">
								<th>{{ categ_dim0.value }}</th>
								<td>
									<pricinggrids-gridcell
										@initCell="initCell({[dim0.name]: categ_dim0.value})"
										:cell="grid.gridCellAt({[dim0.name]: categ_dim0.value})">
									</pricinggrids-gridcell>
								</td>
							</tr>
						</tbody>
					</template>
					<template v-else-if="dimensionCount==2">
						{{void(
							dim0 = this.grid.dimensions[0],
							dim1 = this.grid.dimensions[1]
						)}}
						<thead>
							<tr>
								<th rowspan="2">{{ dim0.name }}</th>
								<th :colspan="dim1.categories.length">
									{{ dim1.name }}
								</th>
							</tr>
							<tr>
								<th v-for="categ_dim1 in dim1.categories">
									{{ categ_dim1.value }}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="categ_dim0 in dim0.categories" >
								<th>{{ categ_dim0.value }}</th>
								<td v-for="categ_dim1 in dim1.categories">
									<pricinggrids-gridcell
										@initCell="initCell({[dim0.name]: categ_dim0.value,[dim1.name]: categ_dim1.value})" :cell="grid.gridCellAt({[dim0.name]: categ_dim0.value,[dim1.name]: categ_dim1.value})">
									</pricinggrids-gridcell>
								</td>
							</tr>
						</tbody>
					</template>
					<template v-else-if="dimensionCount==3">
						{{void(
							dim0 = grid.dimensions[0],
							dim1 = grid.dimensions[1],
							dim2 = grid.dimensions[2]
						)}}
						<thead>
							<tr>
								<th rowspan="4">{{ dim0.name }}</th>
								<th :colspan="dim2.categories.length * dim1.categories.length">
									{{ dim2.name }}
								</th>
							</tr>
							<tr>
								<th v-for="categ_dim2 in dim2.categories" :colspan="dim1.categories.length">
									{{ categ_dim2.value }}
								</th>
							</tr>
							<tr>
								<th v-for="categ_dim2 in dim2.categories" :colspan="dim1.categories.length">
									{{ dim1.name }}
								</th>
							</tr>
							<tr>
								<template v-for="categ_dim2 in dim2.categories">
								<th v-for="categ_dim1 in dim1.categories">
									{{ categ_dim1.value }}
								</th>
								</template>
							</tr>
						</thead>
						<tbody>
							<tr v-for="categ_dim0 in dim0.categories" >
								<th>{{ categ_dim0.value }}</th>
								<template v-for="categ_dim2 in dim2.categories">
								<td v-for="categ_dim1 in dim1.categories">
									<pricinggrids-gridcell
										@initCell="initCell({[dim0.name]: categ_dim0.value,[dim1.name]: categ_dim1.value, [dim2.name]: categ_dim2.value})"
										:cell="grid.gridCellAt({[dim0.name]: categ_dim0.value,[dim1.name]: categ_dim1.value, [dim2.name]: categ_dim2.value})">
									</pricinggrids-gridcell>
								</td>
								</template>
							</tr>
						</tbody>
					</template>
					<template v-else>
						<tbody><tr><td>
							Dimensions &gt; 3 non support&eacute; !
						</td></tr></tbody>
					</template>
				</table>` // Note : une solution générale est possible, mais un peu illisible... et moins souple sur le rendu.
		};




		var PricingTest_Form = {
			props: {
				ui_state: Object
			},
			template: '#PricingTest-Form-template'
		};







		gridBuilderApp.component("pricinggrids-tabs", PricingGrids_Tabs);

		gridBuilderApp.component("pricinggrids-grid", PricingGrids_Grid);
		gridBuilderApp.component("pricinggrids-gridcell", PricingGrids_GridCell);

		gridBuilderApp.component("pricinggrids-dim-list", PricingGrids_DimensionList);



		gridBuilderApp.component("pricingtest-form", PricingTest_Form);

		gridBuilderApp.mount('#grid-builder');
	</script>

</body>



</html>
